/* BARRE DE NAVIGATION */

nav {	
	top:90px;
	position: fixed;
	width: 100%; /* pour que la barre de navigation occupe toute la largeur */
	background-color: #babdb6;
	z-index:auto; /* détermination ordre différentes couches d'éléments */
}

nav > ul {
	margin: 0px;
	padding: 0px;
}
nav > ul > li {
	float: left;
	/*border : 1px solid white; */
}

/* enlever les puces de la liste */
nav li {
	list-style-type: none;
}

/* Eviter l'écrasement des éléments du menu : CSS::after; */
nav > ul::after {
	content:"";
	display: block;
	clear: both;
}

nav a {
	display: inline-block;
	text-decoration: none;   /*enlever le soulignement*/
}

nav > ul > li > a{
	padding: 15px 20px; /* épaisseur de la barre de navigation */
	color: black; /* couleur de l'écriture des onglets de la barre de navigation'*/
	font-size:medium;
}

ul li > a:hover, /* coloration les onglets survolés de la barre de navigation */
ul li:hover > a{
	color: #ffffff;
	background: #1b1b1b;
	border-color: transparent;
	text-decoration: none;
}

.navBarGauche{
	float: left;
}

.navBarDroite {
	float:right;
}
