
/* login */

#authentification {
	padding: 50px;

}

h4 {

	padding-bottom:10px;
	text-align: center;
}
.form-login {
	background: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color:#d2d2d2;
	border-width: 5px;


}

.form-control {
	border-radius: 10px;
}

.wrapper {
	text-align: center;
}


/* ENTETE */

.navbar{
	width:100%;
	background:#6e523f ;
}

.nav.navbar-nav li a{
	color:#eeeeec;
}

.nav.navbar-nav li a:hover{
	color:#000000;
}

/* MENU VERTICAL GAUCHE */

.sidenav {
    width: auto;
    overflow-x: hidden;
}

.sidenav a {
		background:#6e523f;
  	padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 15px;
    color:#eeeeec;
    display: block;
		border-top:2px solid white;
		border-bottom: 2px solid white;
}

.sidenav a:hover {
    color:#000000;
}



fieldset
{
	background-color:none;
	max-width:500px;
	margin:16px;
	border:2px solid black;
}

fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important; /*haut, bas, droite, gauche*/
	margin: 0 0 1.5em 1.5em !important;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
    }


/* Carousel de la page d'accueil */

body, html {
	height: 100%;
	margin: 0;
}

.carousel-inner > .item > img {
	margin-top:50px;
	width:100%;
  height:728px;
}
.carousel-indicators li {
		border:solid 1px;
		border-color: black;
    background-color: lightgrey;
		box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    background-color: grey;
}
